
/* 
    Created on : 27/06/2019, 00:34:50
    Author     : EZEQUIEL

*/

/*html{background: url(../images/fondo-abstracto-naranja-6409.jpg)no-repeat;background-size: 100%;}*/
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 0px;
}

#contenedor{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
    margin: 0 auto;
    padding: 2px;
    text-align: left;
    width: 960px;
}

/*#tooplate_header{
    background: url(../images/image22.png) no-repeat;
    background-size: 23%;
    height: 111px;
    margin: 0 auto;
    padding: 0 40px;    
}*/

#tooplate_middle{

    clear: both;
    height: 30px;
    margin: 0 auto;
    padding: 20px 40px;    
}

#to_plate_main{

    clear: both;
    height: 330px;
    margin: 0 auto;
    padding: 10px 40px 0;    
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#titulo {
    float: left;
    width: 960px;
    margin-top: 3%;
    color: #ff9041;
}
#pnlPacientes, #pnlPropietarios, #pnlAtenciones{
    background-color: #c2dfef;
}

/*
#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
*/
.center_content {
    background: #ffffff;
    height: 520px; /*/462*/
    padding: 0px;
}
/*
.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
*/