<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/veterinaria2019?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.username">pv2019</property>
    <mapping resource="aplicacion/hibernate/mapeo/Doctor.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Propietariomascota.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Medicamento.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Mascota.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Atencion.hbm.xml"/>
    <mapping resource="aplicacion/hibernate/mapeo/Vacuna.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
