<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/esquemavete19?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">rene.ezequiel.clavijo.REC2019</property>
    <mapping resource="aplicacion/hibernate/mapeos/Doctor.hbm.xml"></mapping>
    <mapping resource="aplicacion/hibernate/mapeos/Vacuna.hbm.xml"></mapping>
    <mapping resource="aplicacion/hibernate/mapeos/Medicamento.hbm.xml"></mapping>
    <mapping resource="aplicacion/hibernate/mapeos/PropietarioMascota.hbm.xml"></mapping>
    <mapping resource="aplicacion/hibernate/mapeos/Mascota.hbm.xml"></mapping>
    <mapping resource="aplicacion/hibernate/mapeos/Atencion.hbm.xml"></mapping>

  </session-factory>
</hibernate-configuration>
